@import url(media.css);

/* navbar start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: whitesmoke;
}

.logo {
    color: #0D5EBA;
    /* gold color */
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #d4af37;
}

/* navbar end  */

/* section 01 start  */

#main {
    height: 850px;
    width: 100%;
    /* border: 2px solid black; */
    margin: 20px 0px;

}

/* section 01 end  */

/* section 02 start  */

#second {
    height: 380px;
    width: 1500px;
    /* border: 2px solid black; */
    margin: 30px auto;
}

.headings {
    text-transform: uppercase;
    color: #002D69;
    margin: 10px 10px;
}

.card {
    height: 220px;
    width: 220px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 20px 0px 20px 65px;
    /* text-align: center; */
    /* text-transform: uppercase; */
}

.card p {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #002D69;
}

.five-div {
    height: 220px;
    width: 220px;
    /* border: 2px solid black; */
    background-color: whitesmoke;
    display: inline-block;
    /* margin: 20px 0px 20px 20px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

/* section 02 end  */

/* section 03 start  */

#third {
    height: 680px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}

#main-text-div {
    height: 680px;
    width: 50%;
    background-color: #002D69;
    display: flex;
    justify-content: center;
    align-items: center;
}

#third-section {
    height: 680px;
    width: 50%;
}

#third-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-text {
    width: 680px;
}

#main-text h1 {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
}

#main-text p {
    font-size: 28px;
    color: #FFFFFF;
    margin: 20px 0;
}

#main-text button {
    padding: 12px 25px;
    background-color: #FFFFFF;
    border: none;
    color: #002D69;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
}

/* section 03 end  */

/* section 04 start  */

#forth {
    height: 580px;
    width: 1500px;
    /* border: 2px solid black; */
    margin: 20px auto;
}

.three-div {
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 10px 45px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#forth button {
    height: 40px;
    width: 170px;
    color: white;
    background-color: #002D69;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
}

/* section 04 end  */

/* section 05 start  */

#fifth {
    height: 300px;
    width: 1500px;
    /* border: 2px solid black; */
    margin: 30px auto;
}

.three-div-reviews {
    height: 200px;
    width: 400px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 15px 45px;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.three-div-reviews p {
    text-align: center;
    font-size: 20px;
    margin: 30px 0px;
    /* font-family: italic; */
}

.three-div-reviews h3 {
    text-align: center;
    margin: 50px 0px;
}

/* section 05 end  */

/* section 06 start  */

#six {
    height: 630px;
    width: 1500px;
    /* border: 2px solid black; */
    margin: 20px auto;
    text-align: center;
}

.services-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.services-card {
    width: 400px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.services-card p {
    text-transform: uppercase;
    color: #002D69;
    font-size: 24px;
    margin: 10px;
}

.three-div-services {
    height: 400px;
    width: 400px;
    background-color: whitesmoke;

}

#six button {
    height: 40px;
    width: 170px;
    color: white;
    background-color: #002D69;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
}

/* section 06 end  */

/* footer 07 start  */

footer {
    height: 800px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #B8E0EF;
    margin: 30px auto;
    display: inline-block;
}

#footer-div {
    height: 400px;
    width: 1000px;
    /* border: 2px solid black; */
    background-color: white;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-img {
    height: 400px;
    width: 460px;
    /* border: 2px solid black; */
    display: inline-block;
}

#footer-text {
    height: 100px;
    width: 360px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 100px 80px 200px 80px;
}

#footer-text h1 {
    text-align: center;
    margin: 15px 0px;
    color: #002D69;
    text-transform: uppercase;
}

#footer-text p {
    text-align: center;
    margin: 15px 0px;
    color: #343434;
}

#footer-text button {
    height: 40px;
    width: 150px;
    margin: 20px 100px;
    background-color: #002D69;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;

}

#footer-container {
    width: 800px;
    height: 120px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.footer-column h3 {
    color: #002D69;
    margin-bottom: 15px;
}

.footer-column p {
    color: #343434;
    margin: 8px 0;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #929FA859;
    margin: 80px 20px;
    padding: 40px 0;
    /* text-align: center; */
}

.developer-name {
    color: #002D69;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
}

.footer-logos {
    height: 30px;
    width: 200px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 0px 0px 0px 1100px;
}

.footer-logos i {
    margin: 0px 12px;
}


/* f.oter 07 end  */